@media only screen and (max-width:375px){
	.spantop{
		left:-400px;
		top:-200px;
	}
	.spanbottom{
		right:-300px;
		bottom:-300px;
	}
	.main{
		flex-direction:column;
		width:375px;
		position:relative;
		top:-55px;
	}
	.phone{
		width:70%;
		margin-top:200px;
		margin-right:0px;
		padding:10px;
	}
	.tulis{
		width:243px;
	}
	i.fa-chevron-circle-right{
		opacity:0.8;
		position:relative;
		left:110px;
	}
	.tulisan{
		text-align:center;
		width:330px;
	}
	.tulisan h2{
		font-size:25px;
		margin-bottom:10px;
		margin-top:10px;
	}
	.tulisan p{
		font-size:15px;
		line-height:15px;
	}
}